.wrap {
  @include mobile {
    padding: 0 16px;
  }
  @include tablet {
    padding: 0 32px;
  }

  @include desktop {
    padding: 0 96px;
  }
}

.section {
  @include mobile {
    margin: 64px 0;
  }
  @include tablet {
    padding: 48px 0;
  }

  @include desktop {
    padding: 96px 0;
  }
}
