//fade left
@keyframes fadeLeftInAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeLeftOutAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

//fade right
@keyframes fadeRightInAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeRightOutAnimation {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  100% {
    transform: translateX(100%);
  }
}

// fade bottom
@keyframes fadeBottomInAnimation {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeBottomOutAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

// appear bottom
@keyframes appearInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
