@use 'sass:map';
@use '../../assets/style/utils/brekapoint_mixin' as *;
@import '../../assets/style/colors';

.link {
  display: inline-block;
  letter-spacing: 0.08em;
  padding: 4px 0;
  margin: 0 18px;
  color: #fff;

  &:hover {
    background-position: 0 0;
    color: #fff;
  }

  &-white {
    text-transform: uppercase;
    padding: 16px 25px;
    color: map-get($colors, 'primary');
    background-color: map-get($colors, 'baseWhite');
    border-color: map-get($colors, 'primary');
    background-image: linear-gradient(
      to right,
      #da291c 0%,
      #da291c 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    will-change: color, border-color, background-position;
    transition: color 0.25s, border-color 0.25s, background-position 0.25s;

    &:hover {
      color: #fff;
      border-color: #da291c;
    }
  }

  &-transparent {
    text-transform: uppercase;
    padding: 16px 25px;
    line-height: 1;
    position: relative;
    display: inline-block;
    min-width: 137px;
    padding: 16px 25px;
    color: map-get($colors, 'white');
    background-size: 200% 100%;
    background-position: 100% 0;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      #fff 0%,
      #fff 50%,
      transparent 50%,
      transparent 100%
    );
    border: 1px solid map-get($colors, 'baseWhite');
    border-radius: 25px;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    will-change: color, border-color, background-position;
    transition: color 0.25s, border-color 0.25s, background-position 0.25s;

    &:hover {
      color: #000;
      border-color: #fff;
    }
  }

  &-underline {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: #ffffff;

    &:after {
      content: '';
      position: absolute;
      margin-bottom: 7px;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      transform-origin: right;
      transition: transform 0.25s ease-out;
    }

    @include desktop {
      &:hover:after {
        transform: scaleX(1);
        margin-bottom: 7px;
        transform-origin: left;
      }
    }
  }
}
